.body{
    margin: 0;
}
.root{
    width: 100vw;
    height: 100vh;

    .content{
        width: 100%;
        height: 100%;
        background-color: #14161f;
        display: flex;
        flex-direction: row;

        .col-seperator{
            height: 100%;
            width: calc(100vw / 3);

            .middle-col-row{
                width: 100%;
                height: calc(100vh/3);
            }

            .bottom-middle-row{
                width: 100%;
                height: calc(100%/3);
                text-align: center;
            }
        }
    }
}